body {
    font-family: Arial, Sans-Serif;
    font-size: 100%;
    background-color: #FFFF00;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    padding: 30px 0;
    background-color: #ddd;
}

h1, h2 {
    color: grey;
    text-align: center;
}

nav {
    background-color: #444;
    min-height: 64px;
}

nav li {
    float: left;
    width: 100px;
}

nav a {
    display: block;
    color: white;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}

nav li a:hover {
    background-color: #777;
}

p {
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 0.1em;
    color: black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #0000FF;
  color: white;
  text-align: center;
  line-height: 70px;
}

/* Фото */
.Img {
    width: 120px;   /* стало менше */
    height: auto;
    transition: .3s;
}


.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

/* Галерея */
.inline-img img {
    width: 250px;
    height: 210px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin: 10px;
}
.Img {
    width: 200px;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}
.inline-img img {
    width: 250px;
    height: 210px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
.square {
  width: 90px;
  height: 90px;
  margin: 30px auto;
  background-color: #123456;
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.inline-img img {
  transform: scale(0.95);
  transition: .3s;
  max-width: 35%;
}

.inline-img img:hover {
  transform: scale(1);
}
.Img {
  transition: .3s;
}

.Img:hover {
  transform: scale(1.1);
}
/* Квадрат з анімацією */
.square {
    width: 90px;
    height: 90px;
    margin: 30px auto; /* центр по горизонталі */
    background-color: #123456;
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Ключові кадри анімації */
@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { background-color: yellow; }
    100% { transform: rotate(360deg); }
}
.multimedia {
    overflow: auto;
}

.video-row {
    width: 100%;
    text-align: center;   /* вирівнює по центру */
    margin: 20px 0;
}

.video-row video {
    width: 32%;
    display: inline-block;  /* щоб стояли в ряд */
    vertical-align: middle;
    border-radius: 10px;
}


/* Адаптивність для телефонів */
@media (max-width: 700px) {
    .video-row {
        flex-wrap: wrap;
    }
    .video-row video {
        width: 48%;
    }
}

@media (max-width: 500px) {
    .video-row video {
        width: 100%;
    }

form {
    padding: 15 px 0;
    float: right;
}
textarea {
    padding: 5px;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
